 #one{

  height:50px;width:1350px;
  background:#ff9800;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0px;
  position:fixed;
  box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.14),1px 1px 1px -1px rgba(0, 0, 0, 0.098), 1px 1px 1px -1px rgba(0, 0, 0, 0.084); }
body
{
  background:#fafafa;


}
